
{% for db_names,dbs in init_db.items() %}
{% if db_names is not none %}}
{{db_names}} username:{{dbs.user}}
{{db_names}} password:{{dbs.password}}
{%endif%}}
{% endfor %}




{% if (init_application is defined ) and (init_application.application_database_user is not none) %}
---For {{ init_application.application_name }} Installation Wizard---

database hostname:{{init_application.application_database_host | default('localhost',true)}}
database name:{{init_application.application_name}}
database username:{{init_application.application_database_user}}
database password:{{init_application.application_database_password}}
{% endif %}